@charset 'utf-8';

.test1 {
    border: 1px solid red;
    height: 600px;
    margin: 100px 0;

    /* background-image: url(./banner1.jpeg); */
    background-image: url(../card_3d/lion.png), url(./banner1.jpeg);
    background-repeat: no-repeat, repeat;
    /* background-position: 100px 100px; */
    background-size: 200px 100px, contain;
    /* background-attachment: fixed; */
    background-color: aquamarine;
}

img {
    width: 100%;
}

.sec1 {
    border: 10px solid lightcoral;
    width: 100%;
    overflow: hidden;
}

.con {
    border: 1px solid red;
    display: flex;
    width: 300%;
}

.con figure {
    border: 5px solid lightblue;
    height: 35vw;
    width: calc(100% / 3);
    position: relative;
    overflow: hidden;
}

.con figure>* {
    border: 5px solid lightgreen;
    position: absolute;
}

.con figure figcaption {
    z-index: 10;
    color: white;
    left: 60%;
    top: 10%;
    line-height: 1.6;
}

.con figure h2>* {
    display: block;
}

.con figure h2 strong {
    font-size: 2.5rem;
    font-weight: bold;
}

.con figure a {
    z-index: 20;
    left: 60%;
    top: 80%;
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}