* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gap1: 16px;
    --point-c1: #E1F6EF;
}

.banner2 {
    /* border: 1px solid red; */
    width: calc(100%-32px);
    /* min-width: 400px; */
    max-width: 600px;
    margin: 100px auto;
    background-color: var(--point-c1);
    border-radius: var(--gap1);
    padding: calc(var(--gap1)*2);
    position: relative;
    top: 0;
    transition: 0.3s;
}

/* .banner2 * {
    border: 1px solid red;
} */

.banner2 img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.banner2 span {
    color: darkcyan;
    font-weight: bold;
}

.banner2 h3 {
    padding: var(--gap1) 0;
    width: calc(100% - (20% - 10px));
}

.banner2 a {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 50px 0 20px;
    margin-right: var(--gap1);
    margin-bottom: 10px;
    /* transition-property: background-color;
    transition-duration: 1s; */
    transition: 0.3s;
    position: relative;
}

.banner2:hover {
    top: -10px;
}

.banner2 a:hover {
    background-color: green;
    color: white;
}

.banner2 a::before {
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.c1 {
    color: blueviolet;
    font-size: 2em;
}

@media(max-width: 400px) {
    .banner2 img {
        transform: translateY(0);
        top: auto;
        bottom: 16px;
        right: 16px;
        width: 30%;
    }
}